$global:AVNObfuscate = $False
$global:AVNProjectStage1Deadline = 'Friday, February 4, 2022 7:28:34 PM'
$global:AVNProjectStage2Deadline = 'Thursday, February 10, 2022 7:28:34 PM'
$global:AVNProjectStage3Deadline = 'Sunday, February 27, 2022 7:28:34 PM'
$global:AVNTurnsPerDay = 20
$global:AVNServiceTicketsPerDay = 18
$global:AVNTrainingPerDay = 1
$global:AVNOpportunitiesPerDay = 2
$global:AVNDiceOfferingPerDay = 3
$global:AVNDiceChoicePerDay = 2
$global:AVNServiceTicketSpecialRate = .2
$global:AVNTechnicalQuestionsThreshold = 2
$global:AVNProjectBlocGenerationRate = .75
$global:AVNSTGIFAwardMultiplier = 3
$global:AVNProjectStageDailyAllowance = 1
$global:AVNDefaultTextForegroundColor = 'darkgreen'
$global:AVNDefaultBannerBackgroundColor = 'white'
$global:AVNDefaultBannerForegroundColor = 'darkgreen'
$global:AVNProjectCounterAttackRate = .50
$global:AVNServiceTicketInjectionSpecialRewardRate = .6
$global:AVNInjectionSpecialsPerDay = 2
$global:AVNHealthDefault = 100
$global:AVNPenaltyThresholdOne = 80
$global:AVNPenaltyThresholdTwo = 60
$global:AVNPenaltyThresholdThree = 40
$global:AVNPenaltyThresholdFour = 20
$global:AVNPenaltyThresholdFive = 0