$global:AVNObfuscate = $False
$global:AVNProjectStage1Deadline = 'Friday, February 4, 2022 7:28:34 PM'
$global:AVNProjectStage2Deadline = 'Thursday, February 10, 2022 7:28:34 PM'
$global:AVNProjectStage3Deadline = 'Sunday, February 27, 2022 7:28:34 PM'
$global:AVNTurnsPerDay = 20
$global:AVNServiceTicketsPerDay = 20
$global:AVNTrainingPerDay = 1
$global:AVNOpportunitiesPerDay = 2
$global:AVNDiceOfferingPerDay = 3
$global:AVNDiceChoicePerDay = 2
$global:AVNServiceTicketSpecialRate = .1
$global:AVNTechnicalQuestionsThreshold = 2
$global:AVNProjectWaveGenerationRate = .75
$global:AVNSTGIFAwardMultiplier = 1
$global:AVNProjectStageDailyAllowance = 1
$global:AVNDefaultTextForegroundColor = 'darkgreen'
$global:AVNDefaultBannerBackgroundColor = 'darkgreen'
$global:AVNDefaultBannerForegroundColor = 'white'
$global:AVNProjectCounterAttackRate = .50
$global:AVNServiceTicketInjectionSpecialRewardRate = .6
$global:AVNInjectionSpecialsPerDay = 3