$global:AVNProductionPath = ''
$global:AVNObfuscate = $False
$global:AVNProjectStage1Deadline = 'Friday, February 4, 2022 7:28:34 PM'
$global:AVNProjectStage2Deadline = 'Friday, February 10, 2022 7:28:34 PM'
$global:AVNProjectStage3Deadline = 'Friday, February 27, 2022 7:28:34 PM'
$global:AVNTurnsPerDay = 20
$global:AVNServiceTicketsPerDay = 20
$global:AVNTrainingPerDay = 1
$global:AVNOpportunitiesPerDay = 2
$global:AVNDiceOfferingPerDay = 3
$global:AVNDiceChoicePerDay = 2
$global:AVNServiceTicketSpecialRate = .1
$global:AVNTechnicalQuestionsThreshold = 2
$global:AVNProjectWaveGenerationRate = .75
$global:AVNSTGIFAwardMultiplier = 1000
$global:AVNProjectStageDailyAllowance = 100
$global:AVNDefaultTextForegroundColor = 'darkgreen'
$global:AVNDefaultBannerBackgroundColor = 'darkgreen'
$global:AVNDefaultBannerForegroundColor = 'white'
$global:AVNProjectCounterAttackRate = .50